[Desktop Entry]
Icon=$HOME/theme-switcher/theme-swither.png
Name[ru_RU]=theme-switcher-day-night
Name=theme-switcher-day-night
Type=Link
URL[$e]=file:$HOME/theme-switcher/theme-switcher-day-night.sh
