[Desktop Entry]
Icon=/home/alligator/Изображения/img/day.png
Name[ru_RU]=theme-switcher-day-night
Name=theme-switcher-day-night
Type=Link
URL[$e]=file:$HOME/theme-switcher-day-night.sh
