# Place file in ~/.config/systemd/user/theme-switcher.timer

[Unit]
Description=Switch the Plasma theme

[Timer]
#№OnBootSec=45
OnStartupSec=6
#OnUnitActiveSec=5min
OnCalendar=*-*-* 9:00:05
OnCalendar=*-*-* 14:05:05
Unit=theme-switcher.service

[Install]
WantedBy=timers.target
